<!-- mobile-nav -->
<section class="mobile-view nav">
  <nav class="navbar fixed-top">
    <div class="container-fluid nav-bar-section">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <img src="/assets/icons/menu.png" alt="" />
      </button>
      <div
        class="offcanvas offcanvas-end w-100"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <button
            type="button"
            class="close-btn"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <img src="/assets/icons/close.png" alt="" />
          </button>
        </div>
        <div class="offcanvas-body">
          <ul
            class="navbar-nav h-100 d-flex flex-column justify-content-around"
          >
            <li class="nav-item" *ngFor="let title of navTitles; let i = index">
              <button
                class="nav-btns mx-auto d-flex"
                (click)="updateSection(i)"
                [class.active]="currentSection === i"
                aria-label="Close"
                data-bs-dismiss="offcanvas"
              >
                <h4 class="fw-bolder mb-0">
                  <img
                    height="30px"
                    class="image-color"
                    [src]="'/assets/icons/' + title.icon"
                    alt=""
                  />
                  {{ isNavOpen ? title.name : "" }}
                </h4>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <app-main-body></app-main-body>
</section>

<!--   tab-lap-content -->
<div class="tab-view nav" [class.closeNav]="!isNavOpen">
  <div class="d-flex w-100">
    <div class="left-box">
      <div
        class="nav-bar-section h-100 d-flex flex-column justify-content-around align-items-center"
      >
        <ng-container *ngFor="let title of navTitles; let i = index">
          <button
            class="nav-btns"
            (click)="updateSection(i)"
            [class.active]="currentSection === i"
          >
            <h4 class="fw-bolder mb-0">
              <img
                height="30px"
                class="image-color"
                [ngClass]='{"mx-auto":!isNavOpen}'
                [src]="'/assets/icons/' + title.icon"
                alt=""
              />
              <span *ngIf="isNavOpenDelay" >
                {{ isNavOpen ? title.name : "" }}
              </span>
            </h4>
          </button>
        </ng-container>
      </div>
      <div
        class="arrow-box cursor-pointer d-flex align-items-center justify-content-center"
        (click)="toggleNav()"
        [class.reverse]="!isNavOpen"
      >
        <img src="/assets/icons/arrow-left-solid.svg" alt="" />
      </div>
    </div>
    <div class="right-box" (scroll)="updateScroll()">
      <app-main-body></app-main-body>
    </div>
  </div>
</div>
